.Rproj.user
.Rhistory
.RData
.Ruserdata
scrap
Tables
Contacts.txt
Preliminary-results-Abstract_Paris.Rmd
spain.sav
reliability.html
Associations.html
Associations.docx
03-process_retest_data.R
Reliability.docx
Results.html
