.Rproj.user
.Rhistory
.RData
.Ruserdata
scrap
Tables
Contacts.txt
Preliminary-results-Abstract_Paris.Rmd
spain.sav
reliability.html
Associations.html
Associations.docx
03-process_retest_data.R
Reliability.docx
Results.html
Results.docx
test-retest_counts.docx
01-Descriptive Results.docx
02-Associations.docx
03-Reliability.docx
HTML To WORD.txt
Associations-04.docx
Associations-04.html
additional_analysis.docx
additional_analysis.html
Προτάσεις_22 5 2023 (002).doc
