~$dictionary.xlsx
Country-data-Spain.rds
Country-data-Spain.sav
Country-data-Spain.xlsx
retest.xlsx
retest
temp_dta_retest.rds
dictionary-numeric.html
dictionary-text.html
Country-data-Croatia.rds
Country-data-Croatia.sav
Country-data-Croatia.xlsx
Country-data-Cyprus.rds
Country-data-Cyprus.sav
Country-data-Cyprus.xlsx
Country-data-Poland.rds
Country-data-Poland.sav
Country-data-Poland.xlsx
Country-data-Romania.rds
Country-data-Romania.sav
Country-data-Romania.xlsx
